__pycache__/
*.py[cod]
*$py.class
*.so
.Python
fraud-env/
env/
venv/
.ipynb_checkpoints/
*.ipynb_checkpoints
data/raw/*.csv
data/raw/*.pdf
data/raw/*.json
data/processed/*.csv
*.pkl
*.joblib
models/*.pkl
models/*.h5
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.env
*.key
archive/
archive.zip